_ss_environment.php
silverstripe.log
/assets/*
/tools/phing-metadata
/silverstripe-cache
/.buildpath
/.project
/.settings
/.idea
.DS_Store
/tools/phing-metadata/
/vendor/
/*.iml

# composer modules
/framework
/cms
/buildtools
/docsviewer
/reports
/googlesitemaps
/silverstripe-link-field
betterbuttons/
display_logic/
focuspoint/
gridfield-bulk-editing-tools/
gridfieldextensions/
metatitle/
opengraph/
share-care/
silverstripe-catalogmanager/
silverstripe-gridfieldversionedorderablerows/
silverstripe-seo-editor/
silverstripe-singlepageadmin/
silverstripe-versioneddataobjects/
siteconfig/
sortablegridfield/
tinytidy/