/assets/*
/tools/phing-metadata
/silverstripe-cache
/.buildpath
/.project
/.settings
/.idea
.DS_Store
/tools/phing-metadata/
/vendor/
/*.iml

# composer modules
/framework
/cms
/buildtools
/docsviewer
/reports
/googlesitemaps
/silverstripe-link-field
