.video-block {
  &__video {
    position: relative;
    cursor: pointer;
    &:hover,
    &:focus {
      .video-block__play-button {
        transform: translateX(5px);
      }
    }
  }

  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: $white;
    font-size: 2rem;
    line-height: 5rem;
    margin: -2.5rem 0 0 -2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

    transition: transform .2s ease;
    background: rgba($black, 0.5);
  }
}