.site-header {
  padding: $global-padding 0;

  .logo {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    padding: $menu-item-padding;
    padding-left: 0;
  }

  .hamburger {
    padding: 0 0 0 $global-padding;
    display: flex;
    align-items: center;
    .hamburger-box {
      vertical-align: middle;
    }
  }
}
