// Import foundation
//@import "settings", "../../vendor/zurb/foundation/scss/foundation";
@import '../node_modules/foundation-sites/scss/util/util';
@import "settings";
@import "../node_modules/foundation-sites/scss/foundation";

// Get everything or only the modules you need
@include foundation-everything(false);

// Modules
@import "modules/header";
@import "modules/footer";
@import "modules/forms";
@import "modules/cookieGroupTable";

// Layout
@import "layout/page";