.field {
  &.optionset legend.left,
  &.nocaptcha label.left,
  &.optionset label.left {
    display: block;
    float: none;
  }
  &.nocaptcha {
    margin-bottom: 1rem;
  }
  ul.optionset {
    list-style: none;
    margin: 0 0 $global-margin 0;
  }
}

span,
label,
legend,
.middleColumn {
  + .message.bad,
  + .message.required,
  &.validation,
  &.error {
    font-size: $small-font-size;
    background-color: $alert-color;
    color: $white;
    margin-bottom: 1rem;
    padding: .15rem .5rem;
    line-height: 1.8;
    display: block;
    border-radius: 0 0 $global-radius $global-radius;
    border: none;
  }
  &.validation {
    background-color: $warning-color;
    display: inline-block;
    border-radius: 3px;
    margin: .5rem 0;
  }
}

[type='checkbox'],
[type='radio'] {
  &.error {
    margin: 0 0 $global-margin;
  }
  + label[for].error {
    display: none !important;
    + label[for] {
      color: $alert-color;
      display: inline-block;
      margin-left: $global-margin/2;
      margin-right: $global-margin;
      margin-bottom: 0;
    }
  }
}

label,
legend {
  font-size: $small-font-size;
}

textarea,
select,
input {
  &.holder-bad,
  &.error {
    border-color: $alert-color;
    margin-bottom: 0;
    border-radius: $global-radius $global-radius 0 0;
  }
}

form {
  h1,h2,h3,h4,h5,h6 {
    margin-top: 2.25rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

button,
input[type="submit"] {
  @include button;
  &.ajax-loading:not(.error),
  &.loading {
    // loading style
  }
}
